* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.header {
    background-image: url("../images/Rectangle\ 1441.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 160vh;
    width: 100%;
}

.header-nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    width: 28px;
    opacity: 1;
    font-family: "Gilroy-Bold";
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.nav-links {
    list-style: none;
    font-family: "Gilroy-Medium";
    display: flex;
    font-size: 18px;
    /* font-weight: 400; */
    gap: 40px;
    color: #FFFFFF;
    text-decoration: none
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 200;
}

.bag-icons {
    position: relative;
}

.o-icon {
    position: absolute;
    right: 5%;
    top: 5px;
}

.header-content {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.header-content h1 {
    font-family: "Gilroy-Bold";
    font-weight: 800;
    font-style: normal;
    text-transform: capitalize;
    font-size: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.header-content p {
    font-family: "Gilroy-Regular";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
    opacity: 0.8;
    line-height: 1.8;
}

.header-search-bar {
    width: 300px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: #FFFFFF26 solid 1px;
    border-radius: 100px;
    background-color: #FFFFFF26;
    padding: 10px 10px;

}

.header-search-bar p {
    font-family: "Gilroy-Medium";
    font-weight: 400;
    font-style: normal;
    height: 1px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 5px;
}

.search-icon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #E58411;
}

.why-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.why-container h1 {
    font-family: "Gilroy-Bold";
    font-weight: 800;
    font-style: normal;
    font-size: 42px;
    color: #1E1E1E;
    margin-bottom: 20px;
}

.why-content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.why-item h5 {
    font-size: 20px;
    font-family: "Gilroy-Bold";
    font-weight: 700;
}

.why-item p {
    line-height: 1.5;
    font-size: 16px;
}

.why-item p span {
    color: #F6973F;
    font-weight: 600;
}

.vector {
    margin-top: 10px;
}

.vector span {
    padding-right: 20px;
}

.section-one {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
    background-color: #F7F7F7;
}

.section-one h1 {
    font-family: "Gilroy-Bold";
    font-weight: 800;
    font-style: normal;
    font-size: 42px;
    color: #1E1E1E;
    margin-top: 40px;
    margin-bottom: 8px;
}

.categories {
    height: auto;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    list-style: none;
    font-family: "Gilroy-Medium";
    display: flex;
    font-size: 18px;
    font-weight: 400;
    gap: 40px;
    color: #1E1E1E;
    text-decoration: none;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 30%;
}

.products-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.product-item {
    width: 23%;
    height: 100%;
    border: #FAFAFA solid 1px;
    border-radius: 12px;
    background-color: #FAFAFA;
}

.product-image {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -20px;
}

.product-info {
    border: #F7F7F7 solid 1px;
    border-radius: 0px 0px 15px 15px;
    background-color: #FFFFFF;
    margin-top: 30px;
    padding: 10px 15px;
    line-height: 0%;
}

.arrow-back {
    width: 60px;
    height: 60px;
    position: relative;
    bottom: -8px;
    right: 10px;
}

.arrow-front {
    width: 60px;
    height: 60px;
    position: relative;
    bottom: -28px;
    left: 225px;
}

.arrow-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.top {
    margin-bottom: 25px;
}

.top p {
    font-family: "Gilroy-Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #8D8D8D;
    margin-bottom: 20px;
}

.top h4 {
    font-family: "Inter";
    font-weight: 800;
    font-style: normal;
    font-size: 22px;
    color: #0D1B39;
}

.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.product-details {
    margin-top: 15px;
}

.section-two {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
}

.experience {
    width: 30%;
    text-align: left;
    margin-right: 100px;
}

.experience h3 {
    font-family: "Gilroy-Bold";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #F6973F;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.experience h1 {
    font-family: "Gilroy-Bold";
    font-weight: 800;
    font-style: normal;
    font-size: 42px;
    color: #1E1E1E;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.experience p {
    font-family: "Gilroy-Bold";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #1E1E1E;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1.8;
}

.section-three {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.material {
    width: 50%;
    text-align: left;
    margin-left: 100px;
}

.material h3 {
    font-family: "Gilroy-Bold";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #F6973F;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.material h1 {
    font-family: "Gilroy-Bold";
    font-weight: 800;
    font-style: normal;
    font-size: 42px;
    color: #1E1E1E;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.material p {
    font-family: "Gilroy-Bold";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #1E1E1E;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1.8;
}

.grid-container {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.left-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 30%;
    margin-top: 60px;
}

.rifht-side {
    margin-top: 40px;
    width: 70%;
}

.left-side img {
    width: 100%;
}

.right-side img {
    margin-top: 100px;
}

.section-four-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 70px;
}

.section-header h4 {
    color: #F6973F;
    font-size: 14px;
    margin-bottom: 5px;
}

.section-header h1 {
    font-size: 32px;
    color: #1E1E1E;
    margin-bottom: 50px;
}

.reviews-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.client-review {
    position: relative;
    width: 300px;
}

.client-img img {
    width: 100%;
    border-radius: 15px;
}

.arrow-back-2 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: -28px;
}

.review-box {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 20px;
    text-align: center;
    z-index: 5;
}

.client-photo {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
    background: #fff;
}

.client-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-box .quote-icon {
    width: 20px;
}

.review-box h5 {
    font-weight: 600;
    margin: 5px 0;
    color: #1E1E1E;
}

.review-box .role {
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}

.review-box .review-text {
    font-size: 13px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 10px;
}

.stars img {
    width: 12px;
}

.footer-content {
    width: auto;
    background-color: #F7F7F7;
    padding-bottom: 50px;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.footer-about {
    width: 20%;
    line-height: 1.8;
}

.footer-about h3 {
    margin-top: 10px;
    margin-bottom: 8px;
    color: #1E1E1E;
    font-family: "Gilroy-Bold";
    font-weight: 800;
    font-style: normal;
}

.footer-links {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-link-section h5 {
    margin-bottom: 8px;
    font-size: 14px;
    color: #F6973F;
}

.footer-link-section p,
.footer-link-section span {
    font-size: 12px;
    margin-bottom: 3px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17%;
    font-size: 12px;
}

.footer-bottom-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

@media (max-width: 1024px) {
    .header-content h1 {
        font-size: 60px;
    }

    .why-container {
        flex-direction: column;
        text-align: center;
    }

    .why-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .section-two,
    .section-three {
        flex-direction: column;
        text-align: center;
    }

    .experience,
    .material {
        width: 80%;
        margin: 0 auto;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .products-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-item {
        width: 45%;
    }

    .footer-top {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .footer-about,
    .footer-links {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .header-nav-bar {
        flex-direction: column;
        gap: 20px;
    }

    .header-content h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    .header-content p {
        font-size: 18px;
    }

    .header-search-bar {
        width: 80%;
    }

    .header-search-bar {
        margin: 0 auto;
    }

    .why-content {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        text-align: left;
    }

    .why-container h1 {
        font-size: 28px;
    }

    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        width: 80%;
    }

    .section-two {
        flex-direction: column;
    }

    .section-three {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        /* margin-bottom: 50px; */
    }

    .grid-container {
        gap: 1px;
    }

    .left-side {
        height: 50%;
        margin-top: 20px;
    }

    .right-side {
        margin-top: 0px;
        width: 80%;
        height: 90%;
        margin: 0 auto;
    }

    .right-side img {
        margin-top: 0px;
        width: 100%;
        height: auto;
    }

    .experience,
    .material {
        width: 90%;
        margin: 0 auto;
    }

    .reviews-container {
        flex-direction: column;
        align-items: center;
    }


    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-about,
    .footer-links {
        width: 90%;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 0 5%;
    }
}

@media (max-width: 480px) {
    .header-content h1 {
        font-size: 30px;
    }

    .header-content p {
        font-size: 14px;
    }

    .why-container {
        width: 100%;
    }

    .product-item {
        width: 95%;
    }

    .footer-about p,
    .footer-link-section p {
        font-size: 10px;
    }

    .section-header h1 {
        font-size: 24px;
    }
}